# Android/IntelliJ/JetBrains
*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
*.class
*.jar
*.war
*.ear

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.apk
*.ap_
*.keystore
*.jks

# Unit test / Coverage
test-output/
coverage/

# Firebase
/google-services.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Others
*.swp
*.lock
